.connection__form {
  width: 100%;
  max-width: 753px;
  padding-left: 150px;
  margin-top: 40px;
  position: relative;
}

@media (max-width: 1024px) {
  .connection__form {
    max-width: 480px;
  }
}

@media (max-width: 768px) {
  .connection__form {
    max-width: 250px;
  }
}

@media (max-width: 600px) {
  .connection__form {
    padding-left: 50px;
    margin-bottom: 20px;
  }
}
